body{
    background-color:#EDE7D9;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
       overflow-x: hidden;
    }
    
    
    #raceTrack{
    margin-top:1%;
    background:url('https://res.cloudinary.com/d3lrsu65ml/image/upload/v1480193365/raceTrack_zitxqz.png') repeat-x;
    height:500px;
    width:100%;
    
    }
    
    img#redRaceButton{
        cursor: pointer;
        height:10%;
        margin: 0 auto;
        
        
    }
    
    img#greenRaceButton{
        cursor: pointer;
        height:10%;
        margin: 0 auto;
        display: none;
        
        
    }
    
    img{
    display:block;
    position:relative;
    height:14%;
    }
    
    .cars {
    display:block;
    position:relative;
    height:100%;
    
    }
    .moveRight {
      transform: translateX(1000%);
    } 
    .moveLeft {
      transform: translateX(-10%);
    }
    
    
    #carBlue{
      top: 40px;
     overflow: hidden;
     transition: 1s;
    }
    
    
    
    #carRed{
    top:200px;
    transition: 1s;
    }
    
    
    h3
    {
    text-align:center;
    color:#495D63;
    font-size: 30px;
    }
    
    
    
    #output{ 
    color:#394F49;
    text-align:center;
     margin-top: 60px;
      font-size: 70px;
      display: block;
      color: black;
    }
    
    .reset{
      display: flex;
      justify-content: center;
      padding: 5rem;
     
    }
    
    #reset {
      font-size: 3rem;
      display: none;
      border-style: solid;
      border-color: black;
      border-radius: 5%;
    }
    #reset:hover {
      background-color: yellow;
      transition: .75s;
    }
      

    
    